.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.projects-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-icon {
  font-size: 3rem;
  color: #007BFF;
  margin-bottom: 20px;
}

.project-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.project-link {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #0056b3;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .projects-list {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    max-width: 100%;
  }
}
